/*========================================================
    File:        jobs.css
    Description: CSS for Jobs page
    Auther:      vince.liu@ef.com
========================================================*/

/* + Job Box */
.jb-num
{
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    background: url(../../img/bg_num.png) left top no-repeat;
    _background-image: url(../../img/ie6/bg_num.png);
    position: relative;
    top: -2px;
}
.rss
{
    width: 14px;
    height: 16px;
    display: inline-block;
    background: url(../../img/icon_rss.png) left top no-repeat;
    _background-image: url(../../img/ie6/icon_rss.png);
    position: relative;
    top: 2px;
}

/* - Job Type Tabs */
#jobtype li
{
    list-style: none;
    margin: 10px 0 0 8px;
    background-color: #646464;
    *zoom: 1;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-transition: background 0.2s ease-in-out 0s;
    -webkit-transition: background 0.2s ease-in-out 0s;
}
#jobtype li:hover
{
    background-color: #9dcdcf;
}
#jobtype li:active
{
    background-color: #3cb9be;
}
* html #jobtype li a:hover
{
    background-color: #9dcdcf;
}
* html #jobtype li a:active
{
    background-color: #3cb9be;
}
* html #jobtype li.active a:hover
{
    background-color: #3cb9be;
}
#jobtype li.first
{
    margin-left: 0;
}
#jobtype li.active
{
    background-color: #3cb9be;
}
#jobtype li a
{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 0;
    min-width: 107px;
    _width: 108px;
}

/* - Job List Table */
.jobtable
{
    width: 100%;
}
.jobtable tr
{
    height: 74px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.jobtable tr:hover
{
    background-color: #f3faff;
}
.jobtable tr.jb-premium
{
    background-color: #fcf1c7;
}
.jobtable tr th
{
    padding-left: 5px;
}

/* + Subscribe */
#jobbox .col-wide
{
    width: 62%;
}
#jobbox .col-narrow
{
    width: 25%;
}

/* + Job Detail */
#jobdetail h2
{
    font-size: 30px;
    color: #3cb9be;
    line-height: 1.2em;
    letter-spacing: -1px;
}
.jd-description
{
    line-height: 1.2em;
    letter-spacing: -1px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.jd-description ol li,.jd-apply ol li{
    list-style: decimal inside none;
    padding: 0px 40px;
}

.jd-description ul li,.jd-apply ul li{
    list-style: disc inside none;
    padding: 0px 40px;
}


.jd-apply
{
    background-color: #f6f6f6;
    padding: 10px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.jd-apply p
{
    line-height: 2em;
}
#jobdetail .tj-loc,
#jobdetail .tj-cur,
#jobdetail .tj-date
{
    color: #999;
}

/* + Share Job */
#sharejobbox li
{
    margin-top: 10px;
}
#sharejobbox li.active
{
    padding-bottom: 15px;
}
#sharejobbox li .sjb-title
{
    min-height: 16px;
    _height: 16px;
    line-height: 16px;
    padding: 0 0 5px 23px;
}
#sharejobbox li.mail .sjb-title
{
    background: url(../../img/icon_mail.png) left top no-repeat;
    _background-image: url(../../img/ie6/icon_mail.png);
}
#sharejobbox li.facebook .sjb-title
{
    background: url(../../img/icon_facebook.png) left top no-repeat;
    _background-image: url(../../img/ie6/icon_facebook.png);
}
#sharejobbox li.linkedin .sjb-title
{
    background: url(../../img/icon_linkedin.png) left top no-repeat;
    _background-image: url(../../img/ie6/icon_linkedin.png);
}
#sharejobbox li.twitter .sjb-title
{
    background: url(../../img/icon_twitter.png) left top no-repeat;
    _background-image: url(../../img/ie6/icon_twitter.png);
}
.sjb-form
{
    width: 180px;
}
.sjb-form .tg-label
{
    cursor: text;
}
.sjb-input
{
    position: relative;
    height: 3em;
    margin-top: 9px;
}
.sjb-input .tg-label,
.sjb-input .tg-input
{
    position: absolute;
}
.sjb-input .tg-input
{
    min-width: 160px;
}
.sjb-input .tg-label
{
    z-index: 1;
    margin-left: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.sjb-action .tg-input
{
    width: 22px;
    min-width: 22px;
}
