@CHARSET "ISO-8859-1";

ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  /*background: url(../images/report.png) no-repeat 0 8px;*/
}

ul#navmenu li:hover li a.a_add-user, 
ul#navmenu  li.iehover li a.a_add-user{
  background: url(../images/add_user.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_list-user,
ul#navmenu li.iehover li a.a_list-user{
  background:url(../images/view_user.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.search,
ul#navmenu li.iehover li a.search{
  background:url(../images/search.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_add-exchangerate,
ul#navmenu li.iehover li a.a_add-exchangerate{
  background: url(../images/add_exchangerate.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_view-exchagerate,
ul#navmenu li.iehover li a.a_view-exchagerate{
  background: url(../images/view_exchane_rate.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_user-log,
ul#navmenu li.iehover li a.a_user-log{
  background: url(../images/user_login.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_add-to-do-list,
ul#navmenu li.iehover li a.a_add-to-do-list{
  background: url(../images/add_notice.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_to-do-list,
ul#navmenu li.iehover li a.a_to-do-list{
  background: url(../images/list_notice.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_region-management,
ul#navmenu li.iehover li a.a_region-management{
  background: url(../images/region_management.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_country-management,
ul#navmenu li.iehover li a.a_country-management{
  background: url(../images/country_management.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_currency-management,
ul#navmenu li.iehover li a.a_currency-management{
  background: url(../images/currency_management.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_list-bank,
ul#navmenu li.iehover li a.a_list-bank{
  background: url(../images/bank.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_bank-commission,
ul#navmenu li.iehover li a.a_bank-commission{
  background: url(../images/bank_commission.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_add-tax,
ul#navmenu li.iehover li a.a_add-tax{
  background: url(../images/tax.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_remitting--agent,
ul#navmenu li.iehover li a.a_remitting--agent{
  background: url(../images/remitting_agent.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_payout-agent,
ul#navmenu li.iehover li a.a_payout-agent{
  background: url(../images/payout_agent.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_payout-sub-agent,
ul#navmenu li.iehover li a.a_payout-sub-agent{
  background: url(../images/sub_agent.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_transaction-status,
ul#navmenu li.iehover li a.a_transaction-status{
  background: url(../images/transaction_status.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_block-transaction,
ul#navmenu li.iehover li a.a_block-transaction{
  background: url(../images/block_transaction.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_divert-transaction,
ul#navmenu li.iehover li a.a_divert-transaction{

}

ul#navmenu li:hover li a.a_remitting-sub-agent,
ul#navmenu li.iehover li a.a_remitting-sub-agent{
  background: url(../images/remitting_subagent.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_change-password,
ul#navmenu li.iehover li a.a_change-password{
  background: url(../images/change_password.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_update-profile,
ul#navmenu li.iehover li a.a_update-profile{
  background: url(../images/update_profile.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_user-rights,
ul#navmenu li.iehover li a.a_user-rights{
  background: url(../images/user_right.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_domestic-payout,
ul#navmenu li.iehover li a.a_domestic-payout{
 background: url(../images/bank_payment.gif) no-repeat 0 10px;
}

ul#navmenu li:hover li a.a_domestic-remittance-entry-mode-BankPay,
ul#navmenu li.iehover li a.a_domestic-remittance-entry-mode-BankPay{
  background: url(../images/bank_payment.png) no-repeat 0 10px;
}

ul#navmenu li:hover li a.a_domestic-remittance-entry-mode-IDPay,
ul#navmenu li.iehover li a.a_domestic-remittance-entry-mode-IDPay{
  background: url(../images/id_payment.png) no-repeat 0 8px;
}


ul#navmenu li:hover li a.a_delete-transaction,
ul#navmenu li.iehover li a.a_delete-transaction{
  background: url(../images/delete_transaction.png) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_remitting-transaction,
ul#navmenu li.iehover li a.a_remitting-transaction{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_re-invoice-transaction,
ul#navmenu li.iehover li a.a_re-invoice-transaction{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_transaction-report-unpaid,
ul#navmenu li.iehover li a.a_transaction-report-unpaid{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_transaction-report-paid,
ul#navmenu li.iehover li a.a_transaction-report-paid{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_setllement-report,
ul#navmenu li.iehover li a.a_setllement-report{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_amend-transaction,
ul#navmenu li.iehover li a.a_amend-transaction{
  background: url(../images/report.gif) no-repeat 0 8px;
}

ul#navmenu li:hover li a.a_list-deleted-transaction,
ul#navmenu li.iehover li a.a_list-deleted-transaction{
  background: url(../images/report.gif) no-repeat 0 8px;
}
