/*========================================================
    File:        home.css
    Description: CSS for Home page
    Auther:      vince.liu@ef.com
========================================================*/

#main .col-wide
{
    width: 53%;
}
#main .col-narrow
{
    width: 39%;
}

/* - Find Teacher Jobs */
#arealist
{
    margin: -10px 0 0 -9px;
}
#arealist li
{
	
    list-style: none;
    margin: 10px 0 0 9px;
    background-color: #646464;
    *zoom: 1;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-transition: background 0.2s ease-in-out 0s;
    -webkit-transition: background 0.2s ease-in-out 0s;
}
#arealist li:hover
{
    background-color: #9dcdcf;
}
#arealist li:active
{
    background-color: #3cb9be;
}
* html #arealist li a:hover
{
    background-color: #9dcdcf;
}
* html #arealist li a:active
{
    background-color: #3cb9be;
}
/*
#arealist li a
{
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 0;
    min-width: 100px;
    _width: 100px;
}
*/

/* css override: rosn */
#arealist li a
{
	width:120px;
	min-height:29px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 0;
    
}

/* - Job Notifier */
#jobnotifier p
{
    line-height: 1.2em;
}

/* - Featured Teacher Jobs */
#featuredteacherjobs ul li
{
    margin-top: 20px;
}
#featuredteacherjobs ul li.first
{
    margin-top: 0;
}





